@charset "UTF-8";
@font-face {
  font-family: 'Lubalin Graph Bold';
  src: url("../fonts/LubalinBold.woff2") format("woff2"), url("../fonts/LubalinBold.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney';
  src: url("../fonts/Whitney-Book.woff2") format("woff2"), url("../fonts/Whitney-Book.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* line 26, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 30, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
header#header {
  background-color: #000000;
  color: #ffffff;
}

/* line 34, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
header#header .header, div#header-nav nav#nav, div#schedule-day, div#schedule-hour, div#carrossel-animations,
div#footer-container .contenedor.clearfix, div#footer-container .menu .menuLinks {
  width: 970px;
  margin: 0 auto;
}

/* line 39, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
header#header .header {
  height: 95px;
  position: relative;
}

/* line 43, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
header#header .header .hour-now {
  text-align: right;
  width: 170px;
  height: 100%;
  display: inline-block;
  margin: 0 10px 0 40px;
  position: absolute;
  top: 0;
}

/* line 52, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
header#header .header .hour-now p {
  font-family: "Lubalin Graph Bold";
  font-size: 30px;
  text-transform: uppercase;
}

/* line 57, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
header#header .header .hour-now #shedule-information {
  height: 20px;
  display: inline-flex;
  align-items: center;
}

/* line 62, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
header#header .header .hour-now .name-shedule, header#header .header .hour-now .plus-information {
  display: inline-block;
}

/* line 65, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
header#header .header .hour-now .plus-information {
  margin-left: 5px;
}

/* line 68, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
header#header .header .hour-now .name-shedule p, header#header .header .hour-now .plus-information p {
  font-size: 8px;
}

/* line 71, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
header#header .header .hour-now .plus-information img {
  width: 16px;
}

/* line 74, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
header#header .header .banner-animation {
  width: 745px;
  display: inline-block;
}

/* line 78, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
header#header .header .banner-animation .full-banner {
  position: absolute;
  width: auto;
  right: 0px;
  top: 0;
}

/* line 84, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
header#header .header .banner-animation img {
  width: 98%;
  height: auto;
  position: relative;
  display: inline-block;
}

/* line 90, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
header#header .header .banner-animation img ~ p {
  transform: rotate(270deg);
  display: inline-block;
  width: 0px;
  text-transform: uppercase;
  font-size: 10px;
  font-family: "Lubalin Graph Bold";
  height: 13px;
}

/*fim header*/
/*nav*/
/* line 101, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#header-nav {
  background-color: #4c4c4c;
  margin-bottom: 25px;
}

/* line 105, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#header-nav nav#nav {
  height: 24px;
  position: relative;
}

/* line 109, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#header-nav nav#nav li {
  display: inline-block;
}

/* line 112, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#header-nav nav#nav li.first a {
  color: transparent;
}

/* line 115, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#header-nav nav#nav li a span.home {
  background: url(../images/cartoon-logo.png) no-repeat 0 0/auto 30px;
  position: absolute;
  width: auto;
  height: 30px;
  left: 0px;
  top: 0;
}

/* line 123, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#header-nav nav#nav ol {
  height: 100%;
  position: relative;
}

/* line 127, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#header-nav nav#nav li.last a span {
  position: absolute;
  width: auto;
  right: 25px;
  top: 0;
  background-color: #000000;
  color: #ffffff;
  margin: 3px 0;
  padding: 2.5px 75px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Whitney";
}

/*fim nav*/
/*Início Dia da Semana*/
/* line 142, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#schedule-day {
  margin-bottom: 15px;
  background-color: #ffea00;
  color: #ffffff;
  font-family: "Lubalin Graph Bold";
  font-size: 30px;
  padding-top: 5px;
}

/* line 150, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#schedule-day .schedule-day {
  background-color: #009ade;
  text-indent: 10px;
  padding: 5px 0;
}

/* line 155, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#schedule-day p, div#dayProgramation p {
  display: inline-block;
}

/*Fim Dia da Semana*/
/* line 159, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#schedule-hour {
  margin: 20px auto;
  height: 540px;
}

/*Início Horários da Programação*/
/* line 164, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#schedule-hour .schedule-hour {
  width: 550px;
  margin: 0 20px;
  display: inline-block;
  float: left;
}

/* line 170, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#schedule-hour .hour-shedule {
  display: inline-flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin: 0 5px 10px;
  font-family: "Lubalin Graph Bold";
  font-size: 25px;
  color: #ffffff;
  opacity: 0.6;
  border: none;
  position: relative;
}

/* line 185, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#schedule-hour .hour-shedule:focus, div#schedule-hour div#schedule-per-hour button#section:focus {
  outline: none;
}

/* line 188, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#schedule-hour .hour-shedule.active {
  opacity: 1;
}

/* line 191, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#schedule-hour .hour-shedule:nth-child(n+1) {
  background-color: #009ade;
}

/* line 194, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
button.hour-shedule:nth-child(n+1).nowHour {
  background-color: #000000 !important;
  color: #009ade !important;
}

/* line 198, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#schedule-hour .hour-shedule:nth-child(2n+1) {
  background-color: #ec0080;
}

/* line 201, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
button.hour-shedule:nth-child(2n+1).nowHour {
  background-color: #000000 !important;
  color: #ec0080 !important;
}

/* line 205, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#schedule-hour .hour-shedule:nth-child(3n+1) {
  background-color: #ffea00;
}

/* line 208, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
button.hour-shedule:nth-child(3n+1).nowHour {
  background-color: #000000 !important;
  color: #ffea00 !important;
}

/* line 212, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#schedule-hour .hour-shedule.hour-next {
  background-color: #ffffff;
}

/* line 215, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#schedule-hour .hour-shedule:hover, button.hour-shedule.hour-next:hover {
  opacity: 1;
}

/* line 218, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#schedule-hour .hour-shedule.hour-next a {
  background-image: url(../images/arrow-right-black.svg);
  background-repeat: no-repeat;
  background-size: 70% auto;
  background-position: center;
  color: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
}

/* line 228, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#schedule-hour div#schedule-per-hour button#section:hover {
  opacity: 0.9;
}

/*Fim Horários da Programação*/
/*Início Programação por horário*/
/* line 233, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#schedule-hour.active div#schedule-per-hour {
  background-color: #4c4c4c;
}

/* line 236, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#schedule-hour div#schedule-per-hour {
  width: 335px;
  display: inline-block;
  margin: 0px 20px;
  text-align: center;
  background-color: #ffea00;
  font-size: 25px;
}

/* line 244, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#schedule-hour div#schedule-per-hour .section-hour {
  padding: 14px 0;
  color: #ffffff;
  font-family: "Lubalin Graph Bold";
}

/* line 249, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#schedule-hour div#schedule-per-hour button#section {
  background-color: #ffffff;
  margin: 0 2.5% 13px;
  height: 97px;
  width: 95%;
  position: relative;
  border: none;
}

/* line 257, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#schedule-hour div#schedule-per-hour button#section .section {
  width: 100%;
  height: 100%;
  position: relative;
}

/* line 262, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#schedule-hour div#schedule-per-hour button#section .section div#hour,
div#schedule-hour div#schedule-per-hour button#section .section div#image-description {
  display: inline-flex;
  position: relative;
  float: left;
  width: 15%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* line 272, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#schedule-hour div#schedule-per-hour button#section .section div#image-description {
  float: right;
  width: 85%;
}

/* line 276, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#schedule-hour div#schedule-per-hour button#section .section div#hour p.hour {
  transform: rotate(270deg);
  font-family: "Lubalin Graph Bold";
  font-size: 30px;
  color: #4c4c4c;
}

/* line 282, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#schedule-hour div#schedule-per-hour button#section .section div#image-description p {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* line 288, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#schedule-hour div#schedule-per-hour button#section .section div#image-description p.image {
  width: 35%;
  margin: 0 5% 0 5%;
}

/* line 292, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#schedule-hour div#schedule-per-hour button#section .section div#image-description p.image img {
  max-width: 97px;
  max-height: 97px;
}

/* line 296, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#schedule-hour div#schedule-per-hour button#section .section div#image-description p.description {
  width: 55%;
  justify-content: left;
}

/*Fim Programação por horário*/
/*Início Carrossel de Personagens*/
/* line 302, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#carrossel-animations {
  background: linear-gradient(#ec0080 105px, #009ade 105px, #009ade 120px, #ffea00 120px);
  height: 125px;
  margin-bottom: 1px;
  position: relative;
}

/* line 308, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#carrossel-animations .carrossel-animations {
  height: 125px;
  width: 770px;
  position: relative;
  margin: 0 100px;
  overflow: hidden;
}

/* line 315, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#carrossel-animations ul.animation-list-ul {
  height: 125px;
  position: relative;
}

/* line 319, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#carrossel-animations ul.animation-list-ul li {
  float: left;
  margin: 0 14px;
  height: 125px;
  width: 125px;
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

/* line 329, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#carrossel-animations #menu-carrossel {
  float: left;
  clear: both;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 338, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#carrossel-animations #menu-carrossel a.prev,
div#carrossel-animations #menu-carrossel a.next {
  background: url(../images/arrow-left.svg) no-repeat 0 0/100% auto;
  color: transparent;
  cursor: pointer;
  height: 75px;
  position: absolute;
  width: 75px;
  z-index: 9;
  left: 25px;
  top: 25px;
}

/* line 350, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#carrossel-animations #menu-carrossel a.next {
  background: url(../images/arrow-right.svg) no-repeat 0 0/100% auto;
  right: 25px;
  left: auto;
}

/* line 355, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#carrossel-animations ul.animation-list-ul h2 {
  display: none;
}

/*Fim Carrossel de Personagens*/
/*Início footer*/
/* line 358, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#footer-container {
  background-color: #4c4c4c;
}

/* line 361, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#footer-container .contenedor.clearfix {
  height: 80px;
  position: relative;
}

/* line 365, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#footer-container .contenedor.clearfix div {
  display: inline-flex;
  font-family: "Whitney";
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* line 375, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#footer-container .contenedor.clearfix div#logo {
  width: 100px;
}

/* line 378, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#footer-container .contenedor.clearfix div.desc {
  width: 850px;
  position: absolute;
  margin: 0 8px;
}

/* line 384, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#footer-container .menu {
  background-color: #000000;
}

/* line 387, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#footer-container .menu .menuLinks {
  text-align: center;
  padding: 2px 0;
}

/* line 391, C:/xampp/htdocs/Cartoon Network/scss/styles.scss */
div#footer-container .menu .menuLinks a {
  color: #ffffff;
  font-family: "Lubalin Graph Bold";
  text-decoration: none;
  font-size: 9px;
  text-transform: uppercase;
  margin: 0 10px;
}

/*Fim footer*/

/*# sourceMappingURL=../css/styles.map */