#carrossel-animations {
  background: linear-gradient(
    $white 2%,
    $deep-pink 2%, $deep-pink 90%,
    $pacific-blue 90%, $pacific-blue 97%,
    $golden-yellow 97%
  );
  height: 150px;
  margin: 10px 0 1px;
  position: relative;
  z-index: 0;

  .carrossel-animations {
    height: 100%;
    margin: 0 auto;
    width: 74%;
  }

  .animation-list-ul {
    display: flex;
    height: 100%;
    justify-content: space-around;
    list-style: none;

    h2 {
      display: none;
    }

    li {
      align-items: flex-end;
      display: flex;
      width: 14%;
    }

    img {
      height: auto;
      width: 100%;
    }
  }

  #menu-carrossel {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: 0 7.5%;
    position: absolute;
    top: 0;
    width: 85%;
    z-index: -1;

    .prev,
    .next {
      background: url(../images/arrow-left.svg) no-repeat 0 0 / 100% auto;
      color: transparent;
      cursor: pointer;
      height: 60px;
      width: 60px;
      z-index: 9;
    }

    .next {
      background: url(../images/arrow-right.svg) no-repeat 0 0 / 100% auto;
    }
  }
}
