#carrossel-animations {
  align-items: center;
  background: linear-gradient(
    $white 2%,
    $deep-pink 2%, $deep-pink 90%,
    $pacific-blue 90%, $pacific-blue 97%,
    $golden-yellow 97%
  );
  display: flex;
  height: 150px;
  margin: 10px 0 1px;
  position: relative;
  z-index: 0;

  .carrossel-animations {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-around;
    margin: 0 auto;
    width: 74%;

    .slick-track {
      align-items: flex-end;
      display: flex;
      height: 100%;
      width: 14%;
    }

    h2 {
      display: none;
      text-transform: uppercase;
    }

    p {
      display: none;
    }

    img {
      height: 150px;
      margin: 0 auto;
      width: auto;
    }
  }

  button {
    background: url(../images/arrow-left.svg) no-repeat 0 0 / 100% auto;
    border: 0 none;
    color: transparent;
    height: 60px;
    position: absolute;
    width: 60px;
    z-index: 9;

    &:hover {
      opacity: .8;
    }
  }

  .slick-prev {
    left: -50px;
  }

  .slick-next {
    background: url(../images/arrow-right.svg) no-repeat 0 0 / 100% auto;
    right: -50px;
  }
}
