.description-page-footer {
  background: $matterhorn;
  color: $white;

  .footer-sup {
    align-items: center;
    display: flex;
    height: 110px;
    justify-content: center;

    p {
      font-family: $fontFac2;
      font-size: 10px;
      margin: 0;
      text-align: center;
      width: 850px;
    }
  }
}
