.schedule-hour {
  padding: 0 30px;
  text-align: center;

  button {
    border: 0 none;
    filter: opacity(.8);
    font-family: $fontFac1;
    font-size: 25px;
    height: 110px;
    margin: 3px;
    padding: 0;
    transition: filter ease .5s;
    width: 110px;

    &:hover {
      filter: none;
    }

    &:focus {
      filter: opacity(1);
      outline: none;
    }

    &:last-child {
      background: url('../images/arrow-right-gray.svg') no-repeat center center / 70% auto;
    }
  }
}
