#schedule-day {
  background-color: $golden-yellow;
  color: $white;
  font-family: $fontFac1;
  font-size: 30px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding-top: 5px;
  width: $maxWidth;

  .schedule-day {
    background-color: $pacific-blue;
    padding: 5px 0;
    text-indent: 10px;
  }

  p {
    display: inline-block;
  }

  #dayProgramation p {
    display: inline-block;
  }
}
