.schedule-hour {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 0 30px;
  text-align: center;

  button {
    border: 0 none;
    filter: opacity(.8);
    font-family: $fontFac1;
    font-size: 25px;
    padding: 0;
    transition: filter ease .5s;

    &:hover {
      filter: none;
    }

    &:focus {
      filter: opacity(1);
    }

    &:last-child {
      background: url('../images/arrow-right-gray.svg') no-repeat center center / 70% auto;
    }
  }
}
