<header>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-3 shedule-now">
            <p id="console-time-now"></p>
            <div class="shedule-information">
              <p>O incrível mundo de gumball</p>
              <img src="images/square-plus.svg" alt="plus information">
            </div>
          </div>
          <div class="col-9 publicity-block">
            <img src="images/full-banner.gif">
            <p>publicidade</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
