<div class="modal-overlay">
  <div class="modal">
    <a class="close-modal">
      <i class="material-icons">close</i>
    </a>
    <div class="modal-content">
      <div class="cartoon">
        <div class="cartoon-img">
          <img src="" alt="">
        </div>
        <div class="cartoon-description">
          <h1></h1>
          <h2></h2>
        </div>
        <div class="h2 cartoon-yeares"></div>
      </div>
    </div>
    <div class="modal-footer">
      <p></p>
      <hr>
    </div>
  </div>
</div>
