<div class="schedule-time">
  <p class="hour"></p>
  <button class="card-cartoon">
    <p><span></span>:00</p>
    <div class="image-description">
      <div>
        <img src="images/tom-e-jerry.png">
      </div>
      <div>
        <span class="description">Tom & Jerry</span>
      </div>
    </div>
  </button>
  <button class="card-cartoon">
    <p><span></span>:15</p>
    <div class="image-description">
      <div>
        <img src="images/tom-e-jerry.png">
      </div>
      <div>
        <span class="description">Tom & Jerry</span>
      </div>
    </div>
  </button>
  <button class="card-cartoon">
    <p><span></span>:30</p>
    <div class="image-description">
      <div>
        <img src="images/tom-e-jerry.png">
      </div>
      <div>
        <span class="description">Tom & Jerry</span>
      </div>
    </div>
  </button>
  <button class="card-cartoon">
    <p><span></span>:45</p>
    <div class="image-description">
      <div>
        <img src="images/tom-e-jerry.png">
      </div>
      <div>
        <span class="description">Tom & Jerry</span>
      </div>
    </div>
  </button>
</div>
